<!--
    Name: Jezreelson Sobremonte
    Course: WEBD-3008 (248294)
    Intro to Rails Project

    Character INDEX
-->



<!-- app/views/characters/index.html.erb -->
<div class="container">
  <h1 class="my-4">Characters</h1>
  <div class="row">
    <% @characters.each do |character| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= character.name %></h5>
            <p class="card-text">Primary Skill: <%= character.primary_skill %></p>
              <p class="card-text">Role: <%= character.role %></p>
              <p class="card-text">Strength: <%= character.strengths %></p>
              <p class="card-text">Weakness: <%= character.weaknesses %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



